@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+JP:wght@300&family=Zen+Loop&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
  color: #9ba5c1;
  font-family: 'Noto Sans JP', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fas {
  color: rgb(94, 89, 89);
  font-size: 1.2rem;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border: 2px solid #1a17172f;
  color: #9ba5c1;
  background: #776f6f2f;
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    height: 5rem;
  }
}

.form-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .form-control {
    padding: 20px;
    border-radius: 30px;
    height: 25px;
    border: transparent;
    background-color: #292727;
    color: antiquewhite;
  }
  .btn-warning {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;

    border: transparent;
    color: antiquewhite;

    background-color: #292727;
    cursor: pointer;
  }
}
.errorMsg {
  color: red;
}

@media (max-width: 467px) {
  form {
    width: 75vw;
  }
}
